In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Exploración del dataset

In [2]:
def load_data(filename):
    """ Load dataset from filename
    Args:
        filename (string): Path to data
        
    Returns:
        df (DataFrame): Dataset from file
    """
    
    df = pd.read_csv(filename)
  
    return df

In [5]:
df = load_data('vehicle_prices.csv')
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,Corsa,2018,7885,Manual,9876,Petrol,145.0,55.4,1.4,vauxhall
1,Corsa,2019,11995,Manual,2500,Petrol,145.0,54.3,1.4,vauxhall
2,Corsa,2017,9777,Automatic,9625,Petrol,145.0,47.9,1.4,vauxhall
3,Corsa,2016,8500,Manual,25796,Petrol,30.0,55.4,1.4,vauxhall
4,Corsa,2019,10000,Manual,3887,Petrol,145.0,43.5,1.4,vauxhall

In [6]:

samples = df.shape[0]
keep_cols = []
drop_cols = []

for col in df.columns:
    nas = df[col].isna().sum()
    percent = round(100*nas/samples,2)
    if nas > 0:
        print('{0:<20} {1:<20} {2}%'.format(col,nas,percent))
    if percent < 30:
        keep_cols.append(col)
    else:
        drop_cols.append(col)

tax                  9353                 8.62%
mpg                  9353                 8.62%

In [10]:
print('Columns to drop:',drop_cols,"\nColumns to keep", keep_cols)

Columns to drop: []
Columns to keep ['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg', 'engineSize', 'make']

* Ninguna columna tiene más de 30% na's, por lo tanto nos vamos a quedar con todas

In [11]:
X = df.drop('price',axis=1)
y= df['price']

In [19]:
X['model'].unique()

array(['Corsa', 'Astra', 'Viva', 'Mokka', 'Mokka X', 'Crossland X',
       'Zafira', 'Meriva', 'Zafira Tourer', 'Adam', 'Grandland X',
       'Antara', 'Insignia', 'Ampera', 'GTC', 'Combo Life', 'Vivaro',
       'Cascada', 'Kadjar', 'Agila', 'Tigra', 'Vectra', '5 Series',
       '6 Series', '1 Series', '7 Series', '2 Series', '4 Series', 'X3',
       '3 Series', 'X5', 'X4', 'i3', 'X1', 'M4', 'X2', 'X6', '8 Series',
       'Z4', 'X7', 'M5', 'i8', 'M2', 'M3', 'M6', 'Z3', 'T-Roc', 'Golf',
       'Passat', 'T-Cross', 'Polo', 'Tiguan', 'Sharan', 'Up', 'Scirocco',
       'Beetle', 'Caddy Maxi Life', 'Caravelle', 'Touareg', 'Arteon',
       'Touran', 'Golf SV', 'Amarok', 'Tiguan Allspace', 'Shuttle',
       'Jetta', 'CC', 'California', 'Caddy Life', 'Caddy', 'Caddy Maxi',
       'Eos', 'Fox', 'I20', 'Tucson', 'I10', 'IX35', 'I30', 'I40',
       'Ioniq', 'Kona', 'Veloster', 'I800', 'IX20', 'Santa Fe', 'Accent',
       'Terracan', 'Getz', 'Amica', 'A1', 'A6', 'A4', 'A3', 'Q3', 'Q5',
       'A5', 'S4', 'Q2', 'A7', 'TT', 'Q7', 'RS6', 'RS3', 'A8', 'Q8',
       'RS4', 'RS5', 'R8', 'SQ5', 'S8', 'SQ7', 'S3', 'S5', 'A2', 'RS7',
       'GT86', 'Corolla', 'RAV4', 'Yaris', 'Auris', 'Aygo', 'C-HR',
       'Prius', 'Avensis', 'Verso', 'Hilux', 'PROACE VERSO',
       'Land Cruiser', 'Supra', 'Camry', 'Verso-S', 'IQ', 'Urban Cruiser',
       'Fiesta', 'Focus', 'Puma', 'Kuga', 'EcoSport', 'C-MAX', 'Mondeo',
       'Ka+', 'Tourneo Custom', 'S-MAX', 'B-MAX', 'Edge',
       'Tourneo Connect', 'Grand C-MAX', 'KA', 'Galaxy', 'Mustang',
       'Grand Tourneo Connect', 'Fusion', 'Ranger', 'Streetka', 'Escort',
       'Transit Tourneo', 'Octavia', 'Citigo', 'Yeti Outdoor', 'Superb',
       'Kodiaq', 'Rapid', 'Karoq', 'Fabia', 'Yeti', 'Scala', 'Roomster',
       'Kamiq', 'C Class', 'SLK', 'S Class', 'SL CLASS', 'G Class',
       'GLE Class', 'GLA Class', 'A Class', 'B Class', 'GLC Class',
       'E Class', 'GL Class', 'CLS Class', 'CLC Class', 'CLA Class',
       'V Class', 'M Class', 'CL Class', 'GLS Class', 'GLB Class',
       'X-CLASS', '180', 'CLK', 'R Class', '230', '220', '200'],
      dtype=object)