In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

### Exploración del dataset

In [2]:
def load_data(filename):
    """ Load dataset from filename
    Args:
        filename (string): Path to data
        
    Returns:
        df (DataFrame): Dataset from file
    """
    
    df = pd.read_csv(filename)
  
    return df

In [3]:
df = load_data('vehicle_prices.csv')
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,Corsa,2018,7885,Manual,9876,Petrol,145.0,55.4,1.4,vauxhall
1,Corsa,2019,11995,Manual,2500,Petrol,145.0,54.3,1.4,vauxhall
2,Corsa,2017,9777,Automatic,9625,Petrol,145.0,47.9,1.4,vauxhall
3,Corsa,2016,8500,Manual,25796,Petrol,30.0,55.4,1.4,vauxhall
4,Corsa,2019,10000,Manual,3887,Petrol,145.0,43.5,1.4,vauxhall

In [4]:

samples = df.shape[0]
keep_cols = []
drop_cols = []

for col in df.columns:
    nas = df[col].isna().sum()
    percent = round(100*nas/samples,2)
    if nas > 0:
        print('{0:<20} {1:<20} {2}%'.format(col,nas,percent))
    if percent < 30:
        keep_cols.append(col)
    else:
        drop_cols.append(col)

tax                  9353                 8.62%
mpg                  9353                 8.62%

In [5]:
print('Columns to drop:',drop_cols,"\nColumns to keep", keep_cols)

Columns to drop: []
Columns to keep ['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg', 'engineSize', 'make']

* Ninguna columna tiene más de 30% na's, por lo tanto nos vamos a quedar con todas

In [6]:
X = df.drop('price',axis=1)
y= df['price']

In [17]:
X['transmission'].unique()

array(['Manual', 'Automatic', 'Semi-Auto', 'Other'], dtype=object)